@font-face {
    font-family: 'Lato-Black';
    font-weight: 900;
    src: url('assets/webfonts/Lato-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Bold';
    font-weight: bold;
    src: url('assets/webfonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Regular';
    font-weight: 400;
    src: url('assets/webfonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Light';
    font-weight: lighter;
    src: url('assets/webfonts/Lato-Light.ttf') format('truetype');
}