@font-face {
    font-family: 'Lato-Black';
    font-weight: 900;
    src: url('assets/webfonts/Lato-Black.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    font-weight: bold;
    src: url('assets/webfonts/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato-Regular';
    font-weight: normal;
    src: url('assets/webfonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato-Light';
    font-weight: lighter;
    src: url('assets/webfonts/Lato-Light.ttf');
}