@import 'fonts.css';

body {
    font-family: 'Lato-Regular', sans-serif;
    max-width: 100%;
    margin: 0;
}
.wrapper {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.container {
    max-width: 939px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #2d303a;
    padding: 29px 0 20px;
    margin: 0;
    border-bottom: 6px solid #323746;
}
.holder {
    display: flex;
}
.logo {
    color: white;
    font-size: 25px;
    margin: 0;
    font-family: 'Lato-Bold';
    width: 30%;
    letter-spacing: -0.82px;
}
.logo span {
    color: #da716b;
}
.menu {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Lato-Bold';
    display: flex;
    justify-content: flex-end;
    margin: 0 -2px;
    padding: 0;
}
nav  {
    width: 70%;
    margin: 13px 0;
}
li a {
    text-decoration: none;
    color: white;
}
.menu li {
    display: inline;
    letter-spacing: -0.3px;
}
.menu li a:hover {
    color: #da716b;
    cursor: pointer;
}
li:not(:last-child)::after {
    content: '\B7';
    margin: 0 14.2px;
    color: #494e62;
}

/* Main block */
.main {
    padding: 52px 0 55px;
    background-color: #f06c64;
    border-bottom: 6px solid #d96c6f;
}
.slider {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}
.horizontal {
    padding-left: 18px;
    padding-top: 121px;
}
.phone {
    display: flex;
    justify-content: space-between;
}

/* Services */
.services {
    padding: 60px 0 27px;
    background-color: #f2f2f2;
    border-bottom: 6px solid white;
}
.services-text h3 {
    margin: 0;
    font-family: 'Lato-Black';
    font-size: 30px;
    color: #666d89;
    letter-spacing: -0.1px;
}
.services-text p {
    font-family: 'Lato-Light';
    font-size: 18px;
    letter-spacing: -0.22px;
    line-height: 31px;
    color: #767e9e;
    text-align: justify;
}
.services-items {
    display: flex;
    margin-top: 45px;
    
}
.icon {
    display: flex;
    margin-bottom: 20px;
}
.services-column {
    max-width: 32%;
}
.services-column:nth-child(2) {
    margin-right: 18px;
    margin-left: 20px;
}
.icon img {
    display: flex;
    width: 59px;
    height: 59px;
}
.icon-text {
    margin-left: 19px;
}
.process-title {
    color: #686f8b;
    font-size: 18px;
    margin: -4px 0 0 0;
    letter-spacing: 0.29px;
}
.process-paragraph {
    font-size: 12px;
    color: #767e9e;
    line-height: 21.6px;
    margin-top: 9px;
    text-align: justify;
}
.last {
    margin-left: 22px;
}