@import 'fonts.css';
body {
    font-family: 'Lato-Regular', sans-serif;
    max-width: 100%;
    margin: 0;
}
.wrapper {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.container {
    max-width: 939px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
 
/* contact */
.contact {
    padding: 60px 0 13px 0;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}
.contact-title {
    font-family: 'Lato-Black', sans-serif;
    font-size: 30px;
    color: #f0d8d9;
    margin: 0;
    letter-spacing: -0.3px;
}
.contact-rapagraph {
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    color: #f0d8d9;
    margin-top: 17px;
    line-height: 31px;
    letter-spacing: -0.24px;
    text-align: justify;
    margin-bottom: 0;
}

.get-info {
    display: flex;
    padding: 43px 0 0 0;
}
.contact-form {
    flex-wrap: wrap;
    width: 622px;
}
.common-form {
    padding-bottom: 16px;
}
.form-input {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 38px;
    background-color: #d6564f;
    font-size: 12px;
    color: #f48c8f;
    padding: 5px 13px;
    box-sizing: border-box;

}
.form-input::placeholder  {
    color: #f48c8f;
    font-size: 12px;
}
.form-input:required:valid {
    background-color: #a2e0b5;
}
#form-area {
    font-family: 'Lato-Regular', sans-serif;
    width: 100%;
    border: none;
    height: 202px;
    border-radius: 5px;
    padding: 10px 13px;
    box-sizing: border-box;
    resize: none;
    color: #f48c8f;
    margin-bottom: 16px;
    background-color: #d6564f;
}
#form-area::placeholder {
    color: #f48c8f;
    font-size: 12px;
}
.contact-info {
    flex-wrap: wrap;
    margin-left: 21px;
    max-width: 300px;
}
.contact-info h4 {
    font-family: 'Lato-Black', sans-serif;
    margin-top: -2px;
    margin-bottom: 0;
    font-size: 18px;
    color: #f0d8d9;
    
}
.contact-info p {
    font-size: 12px;
    letter-spacing: -0.14px;
    color: #f0d8d9;
    margin-top: 9px;
    line-height: 22px;
    text-align: justify;
    margin-bottom: 24px;
}

.form-button {
    width: 25%;
    height: 30px;
    font-size: 15px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    color: #f48c8f;
    background-color: #d6564f;
}
.form-button:hover {
    cursor: pointer;
    background-color: snow;
    color: #d6564f;
}
.contacts {
    font-size: 12px;
    color: #f0d8d9;
    box-sizing: border-box;
    margin-top: 8px;
}
.icon {
    margin-right: 10px;
    box-sizing: border-box;
}
.location {
    width: 7px;
    height: 10px;
    margin-left: 2px;
    margin-right: 9px;
}
.call-phone {
    width: 10px;
    height: 10px;
    margin-right: 8px;
}
.mail {
    width: 12px;
    height: 8px;
    margin-right: 7px;
}
.contacts a {
    text-decoration: none;
    color: #f0d8d9;
    font-size: 12px;
}

/* footer */
footer {
    padding: 23px 0 30px 0;
    background-color: #2d303a;
}

.copyright {
    font-size: 12px;
    color: #666d89;
    margin-top: 7px;
    margin-bottom: 0;
}
.foo {
    display: flex;
    justify-content: space-between;
}
.social-footer {
    display: flex;
    margin-top: 24px;
    margin-top: 0;
    
}

.social-footer-link {
    display: block;
    text-decoration: none;
    width: 24px;
    height: 24px;
    border: 1px solid #767E9E;
    border-radius: 50%;
    padding: 6px 0 0 7px;
    margin-right: 6.6px;
}
.social-footer-link:last-child {
    margin-right: 0;
}

.social-footer-link:hover {
    background-color: #767E9E;
}

.social-footer-link:hover .svg-item {
    fill: #fff;
}

.svg-item {
    width: 16px;
    height: 16px;
    fill: #656d89;
}