@import 'fonts.css';

body, html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato-Regular', sans-serif;
    max-width: 100%;
    margin: 0;
}
.wrapper {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.container {
    max-width: 92%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #2d303a;
    padding: 29px 0 20px;
    margin: 0;
    border-bottom: 6px solid #323746;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}
.holder {
    display: flex;
}
.logo {
    color: white;
    font-size: 25px;
    margin: 0;
    font-family: 'Lato-Bold';
    width: 30%;
    letter-spacing: -0.82px;
    z-index: 5;
}
.logo span {
    color: #da716b;
}
.menu {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Lato-Bold';
    display: flex;
    justify-content: flex-end;
    margin: 0 -2px;
    padding: 0;
}
nav  {
    width: 70%;
    margin: 13px 0;
}
li a {
    text-decoration: none;
    color: white;
}
.menu li {
    display: inline;
    letter-spacing: -0.3px;
}
.nav-active {
    color: #da716b;
}
li:not(:last-child)::after {
    content: '\B7';
    margin: 0 14.2px;
    color: #494e62;
}
.burger-button {
    display: none;
}

/* Main block */
.main {
    padding-top: 52px;
    padding-bottom: 55px;
    background-color: #f06c64;
    border-bottom: 6px solid #d96c6f;
    transition: all ease 0.5s;
}
.slider:hover {
    cursor: pointer;
}
.vertical {
    position: absolute;
    left: 13%;
    z-index: 1;
    width: 44%;
}
.horizontal {
    position: absolute;
    top: 120px;
    z-index: 1;
    width: 88%;
}
.phone {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.slide {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.red-phone {
    width: 939px;
    left: 54.4%;
    transform: translate(-50%, -50%);
    position: relative;
}
.iphone {
    position: absolute;
    top: 0;
    width: 58.4%;
}
.iphone-horizontal {
    right: 6px;
}
.container-phone {
    height: 486px;
    max-width: 1020px;
    position: relative;
    
}
.slider-next-phone {
    text-align: center;
    left: 22%;
    right: 22%;
}
.slider-next {
    width: 84%;
}
.bgBlue {
    background-color: #648BF0;
    border-bottom: 6px solid #649BF0;
}
.phone-none {
  opacity: 0;
}
.phone-avatar {
    position: absolute;
    z-index: 2;
}
.avatar-right {
    top: 132px;
    right: 28%;
    width: 62%;
    cursor: pointer;
}
.avatar-left {
    top: 62px;
    left: 15%;
    width: 35.4%;
    cursor: pointer;
}
.slider-nav {
    position: absolute;
    width: 939px;
    left: 41px;
    top: 47%;
    display: flex;
    justify-content: space-between;
    z-index: 4;
}
.unvisible {
    visibility: hidden;
}
.start {
    background: url(./assets/img/chev.png) no-repeat;
    left: 42px;
}
.end {
    background: url(./assets/img/chev2.png) no-repeat;
    right: 36px;  
}
.slider {
    z-index: 3;
    cursor: pointer;
    height: 27px;
    width: 20px;
    position: absolute;
    top: 47%;
    border: none;
    outline: none;
}

/* Services */
.services {
    padding: 60px 0 28px;
    background-color: #f2f2f2;
    border-bottom: 6px solid white;
}
.services-text h3 {
    margin: 0;
    font-family: 'Lato-Black';
    font-size: 30px;
    color: #666d89;
    letter-spacing: -0.1px;
}
.services-text p {
    font-family: 'Lato-Light';
    font-size: 18px;
    letter-spacing: -0.22px;
    line-height: 30px;
    color: #767e9e;
    text-align: justify;
}
.services-items {
    display: flex;
    margin-top: 46px;
    flex-wrap: wrap;
}
.icon {
    display: flex;
    margin-bottom: 23px;
    width: 32%;
    justify-content: space-between;
    margin-right: 18px;
}
.last {
    margin-right: 0;
}
.icon img {
    width: 59px;
    height: 59px;
}
.icon-text {
    margin-left: 21px;
}
.process-title {
    color: #686f8b;
    font-size: 18px;
    margin: -4px 0 0 0;
    letter-spacing: 0.29px;
}
.process-paragraph {
    font-size: 12px;
    color: #767e9e;
    line-height: 21.6px;
    margin-top: 9px;
    text-align: justify;
    letter-spacing: -0.1px;
    overflow: hidden;
    max-height: 63px;
}

/* Portfolio */
.portfolio {
    padding: 60px 0 48px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.port-title {
    font-family: 'Lato-Black', sans-serif;
    font-size: 30px;
    color: #666d89;
    margin: 0;
    letter-spacing: 0.2px;
}
.port-paragraph {
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    color: #6c7491;
    margin-top: 22px;
    letter-spacing: -0.23px;
    margin-bottom: 14px;
}
.navigation {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 19px;
}
.nav-button {
    background-color: transparent;
    cursor: pointer;
    color: #6c7491;
    font-size: 12px;
    flex-wrap: nowrap;
    padding: 3px 6.7px;
    border: 1px solid #6c7491;
    border-radius: 5px;
    margin-right: 10px;
}
.nav-button:nth-of-type(3) {
    margin-right: 9px;
    padding: 3px 4.2px;
}
.nav-button:hover {
    border-color: white;
    color: white;
}
.new-nav {
    border-color: white;
    color: white;
    outline: none;
}
.potr-pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.orange-border {
    border: 5px solid #F06C64 ;
    box-sizing: border-box;
}
.portfolio-picture {
    margin-bottom: 20px;
    cursor: pointer;
}

.portfolio-picture:last-child {
    margin-right: 0;
}

.portfolio-picture:nth-child(n+13) {
    display: none;
}


/* About Us */
#about {
    padding: 60px 0 67px; 
    background-color: #f2f2f2;
    border-bottom: 6px solid white;
}
.about-title {
    font-family: 'Lato-Black', sans-serif;
    font-size: 30px;
    color: #666d89;
    margin: 0;
}
.about-paragraph {
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    color: #6c7491;
    margin-top: 19px;
    letter-spacing: -0.23px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 0;
}
.team {
    display: flex;
    margin-top: 45px;
}
#our-team {
    justify-content: space-between;
    width: 33%;
    margin-right: 2%;
    overflow: hidden;
}
#our-team:last-child {
    margin-right: 0;
}
#our-team img {
    width: 100%;
}
.person-name {
    font-family: 'Lato-Black', sans-serif;
    font-size: 18px;
    color: #666d89;
    margin-bottom: 0;
    margin-top: 12px;
    white-space: nowrap;
}
.about-person {
    margin-top: 9px;
    font-size: 12px;
    color: #767e9e;
    letter-spacing: -0.14px;
    line-height: 21px;
    text-align: justify;
    margin-bottom: 0;
}

.social-icons {
    display: flex;
    margin-top: 24px;
}
.social__link {
    display: block;
    text-decoration: none;
    width: 24px;
    height: 24px;
    border: 1px solid #767E9E;
    border-radius: 50%;
    padding: 6px 0 0 7px;
    margin-right: 7px;
}
.social__link:hover {
    background-color: #767E9E;
}
.social__link:hover .svg-item {
    fill: #fff;
}
.svg-item {
    width: 16px;
    height: 16px;
    fill: #656d89;
}

/* contact */
.contact {
    padding: 60px 0 14px 0;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}
.contact-title {
    font-family: 'Lato-Black', sans-serif;
    font-size: 30px;
    color: #f0d8d9;
    margin: 0;
    letter-spacing: -0.3px;
}
.contact-rapagraph {
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    color: #f0d8d9;
    margin-top: 17px;
    line-height: 31px;
    letter-spacing: -0.24px;
    text-align: justify;
    margin-bottom: 0;
}

.get-info {
    display: flex;
    padding: 43px 0 0 0;
}
.contact-form {
    flex-wrap: wrap;
    width: 622px;
}
.common-form {
    padding-bottom: 16px;
}
.form-input {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 38px;
    background-color: #d6564f;
    font-size: 12px;
    color: #f48c8f;
    padding: 5px 13px;
    box-sizing: border-box;

}
.form-input::placeholder  {
    color: #f48c8f;
    font-size: 12px;
}
.form-input:required:valid {
    background-color: #a2e0b5;
}
#form-area {
    font-family: 'Lato-Regular', sans-serif;
    width: 100%;
    border: none;
    height: 202px;
    border-radius: 5px;
    padding: 10px 13px;
    box-sizing: border-box;
    resize: none;
    color: #f48c8f;
    margin-bottom: 16px;
    background-color: #d6564f;
}
#form-area::placeholder {
    color: #f48c8f;
    font-size: 12px;
}
.contact-info {
    flex-wrap: wrap;
    margin-left: 21px;
    max-width: 300px;
}
.contact-info h4 {
    font-family: 'Lato-Black', sans-serif;
    margin-top: -2px;
    margin-bottom: 0;
    font-size: 18px;
    color: #f0d8d9;
}
.contact-info p {
    font-size: 12px;
    letter-spacing: -0.14px;
    color: #f0d8d9;
    margin-top: 11px;
    line-height: 22px;
    text-align: justify;
    margin-bottom: 26px;
}
.form-button {
    width: 30%;
    height: 40px;
    font-size: 15px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    color: #f48c8f;
    background-color: #d6564f;
    border: 1px solid darkmagenta;
}
.form-button:hover {
    cursor: pointer;
    background-color: snow;
    color: #d6564f;
}
.contacts {
    font-size: 12px;
    color: #f0d8d9;
    box-sizing: border-box;
    margin-top: 7px;
}
.location {
    width: 7px;
    height: 10px;
    margin-left: 2px;
    margin-right: 9px;
}
.call-phone {
    width: 10px;
    height: 10px;
    margin-right: 8px;
}
.mail {
    width: 12px;
    height: 8px;
    margin-right: 7px;
}
.contacts a {
    text-decoration: none;
    color: #f0d8d9;
    font-size: 12px;
}

/* footer */
footer {
    padding: 21px 0 21px 0;
    background-color: #2d303a;
}

.copyright {
    font-size: 12px;
    color: #666d89;
    margin-top: 7px;
    margin-bottom: 0;
}
.foo {
    display: flex;
    justify-content: space-between;
}
.social-footer {
    display: flex;
    margin-top: 24px;
    margin-top: 0;
    
}
.social-footer-link {
    display: block;
    text-decoration: none;
    width: 23px;
    height: 23px;
    border: 1px solid #767E9E;
    border-radius: 50%;
    padding: 6px 0 0 7px;
    margin-right: 7.5px;
}
.social-footer-link:last-child {
    margin-right: 0;
}
.social-footer-link:hover {
    background-color: #767E9E;
}

.social-footer-link:hover .svg-item {
    fill: #fff;
}

.main,
.services,
.portfolio,
.about,
.contact {
    scroll-margin-top: 88px;
}


.modal {
    display: none;
    position: fixed;
    align-items: center;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal-text {
    background-color: white;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 45%;
}
.modal-text p {
    font-size: 16px;
    max-width: 100%;
    word-break: break-all;
}
.close-modal {
    color: black;
    font-size: 15px;
    background-color: #f06c64;
    border: 2px solid orange;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}
.modal-scroll {
    overflow: auto;
    max-height: 250px;
}
.letter {
    font-family: 'Lato-Bold', sans-serif;
}
body.lock {
    overflow: hidden;
}


/* Mobile */
@media (min-width: 1020px) {
    .menu li a:hover {
        color: #da716b;
        cursor: pointer;
    }
}
/*max 1019 */
@media (max-width: 1019px) {
    .main {
        padding: 10px 0 0;
    }
    .container-phone {
        height: 435px
    }
    .container {
        width: 90%;
    }
    .end {
        right: -14px;
    }
    .start {
        left: -8px;
    }
    .port-paragraph{
        line-height: 29px;
        letter-spacing: 0;
        margin-top: 18px;
    }
    .navigation {
        margin-bottom: 27px;
    }
    .vertical {
        width: 33%;
        left: 25%;
        top: 30px;
    }
    .avatar-left {
        top: 78px;
        width: 26.3%;
        left: 26.8%;
    }
    .horizontal {
        width: 67%;
    }
    .avatar-right {
        width: 48.3%;
        top: 129px;
        right: 44%;
    }
    .services {
        padding: 40px 0 16px;
    }
    .services-items {
        margin-top: 39px;
    }
    .icon {
        width: 46%;
        margin-right: 0;
        margin-bottom: 42px;
    }
    .services-items {
        justify-content: space-between;
    }
    .potr-pic img {
        width: 31.3%;
        height: 30%;
    }
    .contact {
        padding: 54px 0 37px 0;
    }
    #about {
        padding: 52px 0 69px;
    }
    .team {
        margin-top: 35px;
    }
    .person-name {
        margin-top: 7px;
    }
    .about-person {
        margin-top: 1px;
    }
    .social-icons {
        margin-top: 13px;
    }
    .get-info {
        padding-top: 25px;
    }
    .contact-info {
        margin-left: 21px;
    }
    .common-form {
        padding-bottom: 12px;
    }
    .contact-info p {
        margin-top: 2px;
        line-height: 22px;
        margin-bottom: 14px;
    }
    #form-area {
        height: 160px;
        margin-bottom: 6px;
    }
    footer {
        padding: 23px 0;
    }
}


/* max 900 */
@media (max-width: 920px) {
    .slider-next-phone {
        top: 7%;
    }
}

/* max 830  */
@media (max-width: 830px) {
    .iphone-horizontal {
        right: 25px;
    }
}

/* max 767  */
@media (max-width: 767px) {
    .slider-next {
        width: 76%;
    }
    .slider {
        top: 40%;
    }
    .vertical {
        width: 30%;
        top: 0;
    }
    .avatar-left {
        top: 44px;
        width: 24%;
        left: 26.5%;
    }
    .horizontal {
        width: 60%;
        top: 80px;
    }
    .avatar-right {
        width: 42%;
        top: 88px;
        right: 51%;
    }
    .iphone-horizontal {
        right: 0px;
    }
    .iphone-vertical {
        left: 4%;
    }
    .services-items {
        display: block;
        width: 100%;
    }
    .icon {
        width: 100%;
        justify-content: flex-start;
    }
    .services-items {
        margin-top: 25px;
    }
    .container {
        max-width: 83%;
    }
    .container-phone {
        height: 350px;
        max-width: 100%;
    }
    .services {
        padding: 33px 0 0px;
    }
    .portfolio {
        padding: 40px 0 25px;
    }
    .potr-pic img {
        width: 48%;
    }
    .portfolio-picture {
        margin-bottom: 15px;
    }
    .portfolio-picture:nth-child(n+9) {
        display: none;
    }
    #about {
        padding: 30px 0 10px;
    }
    .team {
        margin-top: 25px;
        display: block;
    }
    #our-team {
        width: 100%;
        padding-bottom: 33px;
    }
    .social-icons {
        margin-top: 15px;
    }
    .contact {
        padding: 40px 0 16px 0;
    }
    .get-info {
        padding: 25px 0 0 0;
        display: block;
    }
    .contact-form {
        width: 100%;
    }
    .form-button {
        width: 100%;
        margin-top: 0;
    }
    #form-area {
        height: 160px;
    }
    .common-form {
        padding-bottom: 13px;
    }
    .contact-info {
        max-width: 100%;
        margin-left: 0;
        margin-top: 30px;
        padding-bottom: 20px;
    }
    .copyright {
        display: none;
    }
    .social-footer {
        justify-content: center;
    }
    .foo {
        display: block;
    }

    header {
        padding: 18px 0 15px;
    }

    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 20px;
        margin-left: 12px;
    }

    .burger-button {
        display: block;
        position: absolute;
        left: 20px;
        z-index: 6;
        width: 25px;
        height: 20px;
        background-color: transparent;
        background-image: url(./assets/img/header-burger.svg);
        background-repeat: no-repeat;
        background-size: cover;
        transition: all ease 0.5s;
        border: none;
        padding: 0;
        outline: none;
        margin-top: 2px;
    }
    
    nav {
        position: fixed;
        left: -100%;
        top: 0;
        width: 70%;
        height: 100%;
        background-color: #2D303A;
        display: block;
        margin: 0;
        transition: all 0.5s ease;
    }
    .menu {
        display: block;
        margin-top: 233px;
        margin-left: 26%;
    }
    .menu li {
        display: block;
        margin-top: 30px;
        font-size: 23px;
    }
    li:not(:last-child)::after {
        content: '';
    }

    .burger-button.burger-active {
        transform: rotate(90deg);
        z-index: 6;        
    }
    nav.burger-active {
        left: 0;
    }
    body.lock {
        overflow: hidden;
    }
    .logo-burger {
        margin-left: 40px;
        justify-content: start;
    }
    .shadow::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #2D303A;
        opacity: 0.6;
        z-index: -1;
    }
    
}

@media (max-width:  680px) {
    .slider-next {
        width: 85%;
    }
    .iphone-horizontal {
        right: 10px;
    }
}

@media (max-width:  620px) {
    .slider-next {
        width: 90%;
    }
    .iphone-vertical {
        left: 10%;
    }
    .vertical {
        width: 23%;
        top: 24px;
    }
    .avatar-left {
        top: 57px;
        width: 18.5%;
        left: 26%;
    }
    .iphone-horizontal {
        right: -1%;
        top: 12px;
    }
    .horizontal {
        width: 48%;
        top: 80px;
    }
    .avatar-right {
        width: 33.4%;
        top: 86px;
        right: 61%;
    }
}

@media (max-width:  510px) {
    .slider {
        margin-left: 0;
        margin-right: 0;
    }
    .slider-next-phone {
        top: 10%;
    }
    .iphone-vertical {
        left: 13%;
    }
    .vertical {
        width: 20%;
        top: 41px;
    }
    .avatar-left {
        top: 70px;
        width: 16%;
    }
    .iphone-horizontal {
        right: -1%;
        top: 12px;
    }
    .horizontal {
        width: 43%;
        top: 80px;
    }
    .avatar-right {
        width: 30%;
        top: 86px;
        right: 65%;
    }
    .main {
        padding: 0 0 0;
    }
    .container-phone {
        height: 310px;
    }
    .red-phone {
        top: -15px;
    }
}

@media (max-width:  440px) {
    
    .container-phone {
        height: 230px;
    }
    .avatar-left {
        top: 62px;
        width: 12.1%;
        left: 25.7%;
    }
    .iphone-vertical {
        left: 17%;
    }
    .vertical {
        width: 15%;
    }
    .iphone-horizontal {
        right: -24px;
        top: 0;
    }
    .horizontal {
        width: 33%;
        top: 77px;
    }
    .avatar-right {
        width: 23%;
        top: 81px;
        right: 73%;
    }
    .slider-next {
        width: 86%;
    }
}

@media (max-width:  376px) {
    header {
        padding: 23px 0 18px;
    }
    .red-phone {
        top: -21px;
    }
    .slider-next-phone {
    top: 15%;
    }
    .iphone-vertical {
        left: 18.3%;
    }
    .vertical {
        width: 16%;
    }
    .avatar-left {
        top: 64px;
        width: 13%;
        left: 25.7%;
    }
    .iphone-horizontal {
        right: -3.5%;
        top: 8px;
    }
    .horizontal {
        width: 32%;
        top: 77px;
    }
    .avatar-right {
        width: 22.5%;
        top: 81px;
        right: 74.1%;
    }
    .container-phone {
        height: 215px;
    }
    .services {
        padding: 26px 0 0;
    }
    .services-items {
        margin-top: 32px;
    }
    .icon {
        margin-bottom: 18px;
    }
    .icon:last-child {
        margin-bottom: 7px;
    }
    .portfolio {
        padding: 43px 0 20px;
    }
    .port-paragraph {
        margin-bottom: 19px;
    }
    #about {
        padding: 33px 0 3px;
    }
    .person-name {
        margin-top: 16px;
    }
    .contact {
        padding: 44px 0 7px;
    }
    .get-info {
        padding-top: 20px;
    }
    .form-button {
        height: 53px;
        font-size: 20px;
    }
    .contacts {
        margin-bottom: 12px;
    }
}
@media (max-width: 355px) {
    .iphone-vertical {
        left: 20%;
    }
}
